<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453875202651-3ukmmo8h7st4t4h3fjrrrbn01jf04hpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453875202651-3ukmmo8h7st4t4h3fjrrrbn01jf04hpb</string>
	<key>API_KEY</key>
	<string>AIzaSyCCcZEnHGP3LPHyDl-WLBjJTHB1zJnGLz0</string>
	<key>GCM_SENDER_ID</key>
	<string>453875202651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jpFlashcard</string>
	<key>PROJECT_ID</key>
	<string>jp-flashcard-7c8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>jp-flashcard-7c8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453875202651:ios:bbbda676086ea0d38e1d7e</string>
	<key>DATABASE_URL</key>
	<string>https://jp-flashcard-7c8ed.firebaseio.com</string>
</dict>
</plist>